*{
    padding: 0px;
    margin: 0px;
}
#game{
    width: 500px;
    height: 200px;
    border: 2px solid black;
}
#character{
    width: 10px;
    height: 50px;
    background-color: rgb(2, 95, 2);
    position: relative;
    top: 150px;
    left: 10px; 
}
.animate{
    animation: jump 500ms;
}

@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 100px;}
}
#block{
    width: 20px;
    height: 20px;
    background-color: rgb(148, 2, 2);
    position: relative;
    top: 130px;
    left: 480px;
    animation: block 3s infinite linear;
}
@keyframes block{
    0%{left:480px;}
    100%{left:-480px;}
    
}